config
dist
dist-newstyle
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.js
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
codex.tags
todo
!heed-frontend/output/react-dom-15.3.1.min.js
!heed-frontend/output/react-15.3.1.min.js
ttrss.opml
hspec-smallcheck
