html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
    text-align: center;
}

section {
    max-height: 100vh;
}

body {
    background-color: #f7f7f7;
    font-size: 1.25em;
}

.feedList {
    margin: 0.5em;
    max-height: 90vh;
    overflow-y: auto;
    width: 25%;
}

.itemList {
    font-size: 1em;
    height: 80vh;
    margin: 0.5em;
    max-height: 80vh;
    overflow-y: auto;
    width: 100%;
}

.feedInfoItem, .itemInfoItem {
    align-items: center;
    border-bottom: thin groove black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.25em;
}

.feedUnread {
    background-color: gray;
    border-radius: 0.1em;
    color: white;
    font-size: 1em;
    padding: 0.2em;
}

.itemDetail {
    border-top: thin groove gray;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    max-height: 10vh;
    width: 100%
}

.selected {
    background-color: #d6e5ff;
}

.container {
    display: flex;
    flex-direction: row;
}

.itemsContainer {
    width: 73vw;
}

.read {
    color: grey;
}
