body {
    background-color: #f7f7f7;
    font-size: 1.25em;
}

.feedList {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    margin: 0.5em;
}

.feedInfoItem {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: thin groove black;
    padding: 0.25em;
}

.feedUnread {
    background-color: gray;
    padding: 0.2em;
    color: white;
    border-radius: 0.1em;
    font-size: 1em;
}

.selected {
    background-color: #4289f4;
}
